<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  
</head>
<body>
  <div ng-app="myShoppingList" ng-controller="myCtrl">
    <ul>
      <li ng-repeat="n in nomes">{{n}}
      <span ng-click="removeItem($index)">&times;</span>
      </li>
    </ul>
    <input ng-model="item">
    <button ng-click="addItem()">ADD</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="./app.js"></script>
</body>
</html>